@if (estaAgregandoNuevaTarea) {
  <app-nueva-tarea (closeDialog)="handleCloseDialog()" (crearTarea)="handleSubmitTarea($event)" />
}

<section id="tareas">
    <header>
        <h2>
            Tareas de {{nombreUsuario}}
        </h2>
        <menu>
            <button (click)="handleCrearTarea()" >
                Agregar Nueva Tarea
            </button>
        </menu>
    </header>
    <ul>
        @for (tarea of tareasUsuarioSeleccionado; track tarea.id) {
            <li>
                <app-tarea [tarea]="tarea" (terminada)="handleTareaCompletada($event)" />
            </li>
        }
    </ul>
</section>