<app-encabezado />
<main>
  <ul id="usuarios">
    @for (usuario of usuarios; track usuario.id) {
      <li>
        <app-usuario 
          [usuario]="usuario"
          [seleccionado]="usuario.id === idUsuarioSeleccionado"
          (selection)="handleSelectUser($event)" 
        />
      </li>
    }
  </ul>
  @if (usuarioSeleccionado) {
    <app-tareas 
      [idUsuario]="usuarioSeleccionado.id"
      [nombreUsuario]="usuarioSeleccionado.nombre"
    />
  }@else {
    <p id="textoCondicional">Seleccione un usuario de la lista</p>
  }
</main>